@import url("root.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.About-video {
    text-align: center;
  }


  body {
  width: 100%;
  overflow-x: hidden;
}

  
.red_line {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--main_color);
  margin: 1rem 0;
}




