

.Shuuderee img{
    width: 25rem;
    height: 22rem;
    margin-right: auto;
    border-radius: 1rem;
    margin-left: 4rem;
    margin-top: 2rem ;
}
.makeupnuur img{
    width: 20rem;
    height: 17rem;
    border-radius: 1rem;
    margin-top: 6rem;
    margin-right: 6rem;
}
.Exam-ti{
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   display: flex;
}
.mm {
   margin-top: 5rem;
   font-family: 'Julius Sans One';
   color: aqua;
  
}
.pp{
    margin-left: 3rem;
    font-family: 'Julius Sans One', sans-serif;
}
.a{
    margin-left: 5rem;
    margin-top:10rem ;
}
.turul{
    margin-top: 2rem;
    margin-left: 1rem;
    background: white;
    border-radius: 0.5rem; 
    width: 12rem;
    height: 2rem;
    
}
.tovch{
    margin-left: 5rem;
    background: white;
    border-radius: 0.5rem; 
    width: 5rem;
    height: 2rem;
}
.content{
    width: 18rem;
  height: 18rem;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    text-align: center;
}
.content:hover{
    opacity: 1;
    
}
.uruuliin_budag:hover .content {
    opacity: 1;
}
