.content{
    font-family: sans-serif;
    background-color: white;
    margin-bottom: 100px;
    display: contents;
}
h3{
    text-align: left;
    font-size: 100%;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}
.news{
    margin: 10px;
    width: 250px;
    height: 300px;
    background-color: #FFE7E7;
    box-sizing: border-box;
    border: 1px solid #FFE7E7;
}
.news img{
    width: 100%;
    height: 200px;
}
p{
    font-size: 70%;
    padding-left: 10px;
}
section{
    justify-content: center;
    display: flex;
}
.h1{
    padding: 30px;
    font-size: 70px;
}
main{
    margin-bottom: 100px;
}
.search-box{
    height: 100%;
    display: flex;
    cursor:pointer;
    background-color:white;
    border-radius: 30px;
    align-items: center;

}
.search-box:hover input{
    width:100%;
}
.search-box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search-box a .fa{
    color: #FFE7E7;
    font-size: 18px;
}