@import url("root.css");


.Information{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-left: 3rem;
}

.Information > article{
  display: flex;
  flex-direction: column;
  background-color:var(--white_color);
  border-radius: 0.625rem;
}

.Information > article > a > picture > img{
  width: 18rem;
  height: 18rem;
  border-radius: 0.625rem;
}

.Products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.Products > article{
  display: flex;
  flex-direction: column;
  background-color:var(--white_color);
  border-radius: 0.625rem;
}

.Products > article > a > picture > img{
  width: 18rem;
  height: 18rem;
  border-radius: 0.625rem;
}

.Products > article > h3{
  width: 60%;
  line-height: 1.2;
  margin: 0.675rem auto auto 1rem;
  font-family: var(--product_fonts);
  color: var(--product_color);
  font-size: var(--product_font_size);

}

.product_page{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dood{
  background-color: #FFE7E7;
  border-radius: 0.5rem; 
  position: relative;
}
.dood h3{
color: black;
font-size: 15px;
font-family: Jost;
word-wrap: break-word;
width: 134px;
height: 24px;
}
.dood p{
  color: rgba(0, 0, 0, 0.70);
font-size: 12px;
font-family: Jost;
font-weight: 400;
word-wrap: break-word;
width: 185px;
height: 25px;
}
.dood a{
width: 123px;
height: 33px;
position: absolute;
top: 0;
right: 0;
}





.products-info {
    text-align: center;
    padding: 5px; /* Reduced padding */
    border: 1px solid #ccc;
    margin-top: 5px; /* Reduced top margin */
}

.products-info h3 {
    color: #333;
    margin-bottom: 5px; /* Added a bottom margin to the heading */
}

.products-info p {
    margin: 3px 0; /* Reduced vertical margin for paragraphs */
}

.products-info s {
    color: #999;
}


/*     Product    */
#products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 3rem;
  margin-left: 0.5rem;
}


.img-size {
  width: 100px; /* Set the width as desired */
  height: auto; /* Maintain the aspect ratio */
}



@media only screen and (max-width: 768px) {
  .product_page {
    grid-template-columns: repeat(3, 2fr);
  }
  .products {
    margin-left: 0rem;
  }
}


@media only screen and (max-width: 768px) {
  .product_page {
    grid-template-columns: repeat(2, 1.5fr);
  }
  .Products {
    margin-left: 0rem;
  }
}


@media only screen and (max-width: 62.5rem ) {
  .product_page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .Products {
    margin-left: 0rem;
  }
}



.shop_card{
  width: 300px;
  height: 370px;
  margin: 70px 20px;
  border-radius: 25px;
}

.card-title{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-price{
  height: 5%;
  display: flex;
  justify-content: center;
  color: red;
}

.card-price{
  height: 10%;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

    
.card-img-room{
  width: 100%;
  height: 70%;
  text-align: center;
}

.card-img{
  width: 100%;
  height: 100%;
  border-radius: 20%;
}


.card-detail{
  height: 20%;
  text-align: center;
  display: flex;
  margin-top: 2%;
  justify-content: center;
}
.card-btn{
  display: block;
  margin: auto;
  padding: 5px 5px;
}



.cart-items{
  border: 1px solid black;
  width: 100%;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-left: 1px;
}


.cart-title{
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-img{
  height: 100%;
  width: 10%;
  text-align: center;
}

.cart-img img{
  width: 100%;
  height: 100%;
}
.cart-price{
  height: 100%;
  width: 25%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
