

.Sale-Top{
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   display: flex;
}

.SaleBg img{
    width: 20rem;
    height: 27rem;
    margin-right: auto;
    border-radius: 1rem;
    margin-left: 7rem;
    margin-top: 2rem ;
}

.SaleBg-2 img{
    width: 15rem;
    height: 22rem;
    border-radius: 1rem;
    margin-top: 6rem;
    margin-right: 7rem;
}

.Sale-Top .text-Top{
   margin-top: 5rem;
   font-family: 'Julius Sans One';
   color: aqua;
}

.Sale-Top .text-Bottom{
    margin-left: 5rem;
    font-family: 'Julius Sans One', sans-serif;
}

