
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.pro1 img{
    width: 25rem;
    height: 22rem;
    margin-right: auto;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-top: 6rem ;
}
.pro2 img{
    width: 20rem;
    height: 17rem;
    border-radius: 1rem;
    margin-top: 11rem;
    margin-right: 2rem;
}
.ehen{
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   
}
.mm{
   margin-top: 12rem;
   font-family: 'Julius Sans One';
   font-size: 1.5rem;
}
hr{
    width: 100%;
}
.pp{
    margin-top: 1rem;
    margin-left: 10rem;
    font-family: 'Julius Sans One';
    font-size: 1.5rem;
}
.gg{
    margin-top: 7rem;
    margin-left: 10rem;
}
.turul{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    background: white;
    border-radius: 0.5rem; 
    border-width: 0.1rem;
    width: 8rem;
    height: 2rem;
    
}
.turul:hover{
	color: rgb(120, 86, 245);
	background-color: white;
}
.uruuliin_budag{
    float: left;
    width: 25%;
    margin-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.uruuliin_budag img{
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-bottom: rgb(74, 74, 247) 4px solid;
}
.uruuliin_budag_dood{
    width: 300px;
    height: 70px;
    flex-shrink: 0;
    background: #FFE7E7;
    
}
.uruuliin_budag_dood h3{
    color: #000;
    font-family: Jost;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    padding-left: 1rem;
    padding-right: 8px;
    margin-bottom: 0;
    
}
.uruuliin_budag_dood p{
    color: rgba(0, 0, 0, 0.70);
    font-family: Jost;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 2rem;
    margin-top: 0.5rem;
    width: 185px;
    height: 25px;
    flex-shrink: 0;
    margin-bottom: 0;
}
.uruuliin_budag_dood a{
    color: #000000;
    font-family: "Jost-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding-left: 14rem;

}
/* үүнээс доош оруулсан код 2 тал руу аль аль нь руу нь гарахыг хориглоно */
.clr{
    clear: both;
}
.tsaash button{
    margin: 2rem 2rem 2rem 40rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}
  